/* https://www.toptal.com/designers/colourcode/share/freebuild/bf5b40/272822/f92672/a6e22e/e6db74/fd971f/ae81ff/66d9ef/f8f8f0 */
:root {
  --color-1: #272822;
  --color-2: #f92672;
  --color-3: #a6e22e;
  --color-4: #e6db74;
  --color-5: #fd971f;
  --color-6: #ae81ff;
  --color-7: #66d9ef;
  --color-8: #f8f8f0;
}
