/* https://www.toptal.com/designers/colourcode/share/freebuild/bf5b40/4d4d4d/f2433d/9be14f/fce96b/85b0d7/bb95b6/44e5e7/f1f1f0 */
:root {
  --color-1: #4d4d4d;
  --color-2: #f2433d;
  --color-3: #9be14f;
  --color-4: #fce96b;
  --color-5: #85b0d7;
  --color-6: #bb95b6;
  --color-7: #44e5e7;
  --color-8: #f1f1f0;
}
